* {
  margin: 10px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  background-color: grey;
}

.ko{
    margin: 30px;
  font-size: 18px;
  font-family: monospace;
  text-decoration-color: white;
  line-height: 1.6;
  text-align: left;
    }


.en{
    margin: 30px;
  font-size: 18px;
  font-family: monospace;
  line-height: 1.5;
  text-align: left;
    }